body {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

#col-content {
  text-align: center;
}

iframe {
  width: 800px;
  height: 600px;
}

.video-slide {
  float: none;
}

.bx-wrapper, .bx-window {
  text-align: center;
}

#video-slider {
  width: 800px;
  left: 20%;
  right: 20%;
}

.bxslider {
  text-align: center;
  width: 800px;
  padding-left: 0px;
  padding-right: 0px;
  left: 0px;
  right: 0px;
}

@media only screen and (max-width: 800px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  #col-content {
    margin-left: 0%;
    margin-right: 0%;
  }
  iframe {
    width: 640px;
    height: 480px;
  }
  .bxslider {
    width: 690px;
    height: 480px;
  }
}
