body {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

#video-slider {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

#col-content {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.bxslider {
  width: 800px;
}

@media only screen and (max-width: 800px) {
  iframe, .bxslider {
    width: 640px;
    height: 480px;
  }
}
